%h1 Activities

%table.bordered-table.zebra-striped
  %thead
    %th Name
    %th Point Value
    %th Unit
    %th Notes
  - @activities.each do |activity|
    %tr
      %td= activity.name.titleize
      %td= activity.value
      %td= activity.unit ? activity.unit.titleize : "Each"
      %td= activity.notes
